:root {
  --shadow-color: #FF9E9E;
  --shadow-color-light: white;
}

.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main{
  width: 35%;
  height: 40rem;
  background-image: linear-gradient(120deg,rgb(24, 41, 57),rgb(26, 82, 139),rgb(24, 41, 57) );
  /* background-color:rgb(26, 82, 139); */
  border-radius: 50px;
}

.dot{
  height: 25px;
  width: 25px;
  background-color: rgb(32, 25, 25);
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
  border: 1px solid black;
  background: radial-gradient(circle at 15px 15px, transparent, rgb(44, 44, 44));
}
.smalldot{
  height: 10px;
  width: 10px;
  background-color: rgb(32, 25, 25);
  border: 1px solid black;
  border-radius: 50%;
  display:grid;
  grid-template-columns: 10px 10px;
  grid-template-rows: 10px 10px;
  margin-left: 10px;
  background: radial-gradient(circle at 15px 15px, transparent, rgba(119, 118, 118, 0.848));


}
.bandw{
  display:grid;
  grid-template-columns: 12px 12px;
  grid-template-rows: 12px 12px;
  width:25px;
  margin-bottom: 5px;
}
.guesseshistory{
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 20px auto 40px;
  grid-template-rows: 40px;
  border-bottom:rgba(255, 255, 255, 0.218) 1px solid;
}

.dotred{
  background-color: red;
}
.dotblue{
  background-color: blue;
}
.dotblack{
  background-color: black;
}
.dotwhite{
  background-color: white;
}
.dotyellow{
  background-color: yellow;
}
.dotgreen{
  background-color: rgb(161, 226, 161);
}

.pastguesses{
  height: 91%;
  
}
.gameboard{
  height: 66%;
  /* border: black, 1px, solid; */
  width: 50%;
  border-radius: 15px;
  margin-left: 25%;
  margin-top: 100px;
  border: 3px solid black;
  padding-top: 20px;
  background-image: url('./images/wood-pattern.png');
  background-color: rgb(94, 116, 129);
}
.guess{
  border-top: 3px solid black;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 20px auto 40px;
  grid-template-rows: 40px;
}
.rowcount{
  color:white;
  text-shadow: black 1px 1px;
  opacity: 35%;
}

.guess button{
  margin-bottom: 12px;
  margin-left: 5px;
  height: 25px;
  width: 25px;
  border-radius: 5px;
  font-weight: 800;
  background-color: rgba(43, 148, 253, 0.745);
}

h1 {
  /* position: relative; */
  margin-left: 265px;
  margin-top: 60px;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 700;
  color: #f5f5f5;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  perspective: 500px;
}

h1::before,
h1::after {
  content: attr(aria-label);
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  text-shadow: 0.01em 0.01em 0.01em rgba(0, 0, 0, 0.3);
}

h1::before {
  animation: floatAbove 3.5s ease-in-out infinite;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
}

h1::after {
  opacity: 0.65;
  filter: blur(0.02em);
  transform: translate(-50%, -50%) rotateX(21deg);
  animation: floatBelow 3.5s ease-in-out infinite;
  -webkit-clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
}

@keyframes floatAbove {
  50% {
      transform: translate(-50%, -60%);
      -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 0% 60%);
              clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 0% 60%);
  }
}

@keyframes floatBelow {
  50% {
      transform: translate(-50%, -60%) rotateX(10deg);
      -webkit-clip-path: polygon(0% 60%, 100% 60%, 100% 100%, 0% 100%);
              clip-path: polygon(0% 60%, 100% 60%, 100% 100%, 0% 100%);
  }
}
